.btn {
	width: 220px;
	padding: 1rem 0;
	font-family: $mono;
	color: $brand-clr-02;
	font-size: 70%;
	font-weight: 500;
	&.btn-hollow {
		border: 1px solid $brand-clr-02;
		border-radius: 4px;
		transition: all ease .5s;
		&:hover {
			background-color: $brand-clr-02;
			color: $brand-clr-01;
		}
	}
}

